name: ESP-IDF Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-esp-idf:
    name: Build with ESP-IDF
    runs-on: ubuntu-latest
    container: espressif/idf:v5.5.3
    defaults:
      run:
        shell: bash
    steps:
      - name: Clone
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Prepare
        run: |
          git config --system --add safe.directory '*'

      - name: Build with idf.py (ESP32-P4)
        run: |
          . /opt/esp/idf/export.sh
          idf.py -B build-esp-idf -DTARGET_PLATFORM=jc8012wp4a1 build

      - name: Validate outputs
        run: |
          test -f build-esp-idf/madi.elf
          test -f build-esp-idf/madi.bin
